# Node.js (React frontend)
frontend/node_modules/
frontend/build/
frontend/.env.*
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Python (FastAPI backend)
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/env/
backend/venv/
backend/.env.*
backend/.venv
backend/instance/
backend/.mypy_cache/
backend/.pytest_cache/
backend/.coverage
backend/htmlcov/
backend/.DS_Store

# mobile_app
# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/Pods/
mobile_app/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# General
.DS_Store
*.log
*.sqlite3
*.swp
*.swo
*.idea/
*.vscode/
*.coverage
*.egg-info/
*.eggs/
*.pytest_cache/
*.pylint.d/

